configuration {
    show-icons:        true;
    icon-theme:        "Papirus-Dark";
    display-drun:      "";
    display-run:       "";
    display-window:    "";
    display-filebrowser: "";
    drun-display-format: "{name}";
    window-format:     "{w} · {c} · {t}";
}

@theme "theme-current"
